.App {
  text-align: center;
  color: white;
}

body{
  background-color: #282c34;
}

.App-header {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(20px + 2vmin);
  color: white;
}


.picker{
  justify-content: center;
  color:white;
}



